* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeaderContainer {
  border-bottom: black 1px solid;
}

.classTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  font-size: 1.6rem;
}

.grid-item {
  font-size: 1.1rem;
}

.studentNameContainer {
  padding-bottom: 30px;
}

.submitButton {
  padding: 0.75rem;
  transition: 0.5s ease-in;
  background-color: #d64444;
  color: #fff;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.submitButton:hover {
  background-color: #ff2a13;
  transform: scale(1.02);
}
.submitButton:active {
  transform: translateY(5px);
  transform: scale(1.02);
}
