* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .classTitle, .titleGridContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  font-size: 1.6rem;
} */

.grid-item {
  column-width: 200px;
  background-color: blue;
}

.submitButton {
  padding: 0.75rem;
  transition: 0.5s ease-in;
  background-color: #d64444;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.submitButton:hover {
  background-color: #ff2a13;
  transform: scale(1.02);
}

.submitButton:active {
  transform: translateY(5px);
  transform: scale(1.02);
}
