*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.studentNameContainer {
    padding-bottom: 30px;
}

.submitButton {
    padding: .75rem;
    transition: .5s ease-in;
    background-color: #d64444;
    color: #fff;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.submitButton:hover {
    background-color: #ff2a13;
    transform: scale(1.02);
}
.submitButton:active {
    transform: translateY(5px);
    transform: scale(1.02);
}