* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.classRegisterPage {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 0.5rem;
  background-color: rgb(246, 243, 243);
}

.classTitle {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  font-size: 1.6rem;
}

.dateTime{
  grid-column: 3/-1;
}

.bottomBorder {
  border-bottom: black 1px solid;
}

.topBorder {
  border-top: black 1px solid;
}

.attendanceForm {
  background-color: white;
  width: 90%;
  margin: auto;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gridRow {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(10, minmax(50px, 1fr));
  gap: 0.5rem;
  padding: 10px;
  font-size: 1.6rem;
}

.grid-item {
  grid-column: auto;
  font-size: 1.3rem;
  align-self: flex-start;
  margin: 0.5rem auto;
}

.studentName {
  grid-column: 1/3;
}

.lateInput {
  margin: 0px;
  max-width: 100%;
  width: 5rem;
  margin: 0.5rem;
  padding: 0.3rem;
}

.comments {
  grid-column: 8/-1;
  width: 80%;
}

.textArea {
  width: 80%;
  margin: auto;
}

.tableContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
}

.submitButton {
  grid-column: 5/-5;
  padding: 0.75rem;
  transition: 0.5s ease-in;
  background-color: #d64444;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  
}

.submitButton:hover {
  background-color: #ff2a13;
  transform: scale(1.02);
}
.submitButton:active {
  transform: translateY(5px);
  transform: scale(1.02);
}
