.downloadButton {
  padding: 0.75rem;
  background-color: #303846;
  color: #fff;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
}

.downloadButton:active {
  transform: translateY(5px);
}
