.header-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.header-left {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 100%;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  height: 100%;
  width: 25%;
  text-align: center;
}

.logo-container {
  height: 100%;
}

.header-logo {
  height: 100%;
  margin-bottom: 0.5rem;
}

.header-btn {
  min-height: 1.5rem;
  width: 8rem;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  color: #fff;
  font-size: 1.1rem;
}

.back-btn {
  background-color: #303846;
}

.back-btn:hover {
  cursor: pointer;
  background-color: #425058;
}

.back-arrow:hover {
  cursor: pointer;
}

.back-btn:active {
  transform: translateY(5px);
}

.logout-btn {
  background-color: #d64444;
}

.logout-btn:hover {
  cursor: pointer;
}

.logout-btn:active {
  transform: translateY(5px);
}

.avatar-container {
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  align-items: center;
  margin-right: 5rem;
}

.avatar {
  color: green;
  font-size: 2rem;
}
