* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tableHeader {
    /* display: grid;
    /* grid-template-columns: 150px 90px 90px 130px 90px 100px auto; */
    /* grid-template-columns: auto auto auto auto auto auto auto; */
    /* padding: 10px; */
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    background-color: blue;
}

.grid-item {
    flex: 7;
    margin-left: 2rem;
}

/* .grid-item {
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: bolder;
} */

.lateInput {
    margin: 0px;
    max-width: 62px;
}

.nameContainer {
    border: 1px solid blue;
}
