* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titleGridContainer {
  background-color: cornflowerblue;
  display: flex;

}

.titleGridContainer td {
  display: flex;
  background-color: chartreuse;
    column-width: 200px;
  /* align-items: center; */
}




/* .lateInput {
  margin: 0px;
  max-width: 62px;
} */
