.infoCard {
  min-height: 7rem;
  padding: 0.5rem;
  background-color: rgb(255,255,255);
  box-shadow: 1px 2px 1px rgb(200,200,200);
}

.cohortDetails {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cohortDetailsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cohortDetailType {
  font-weight: bold;
}

.class-btn{
  padding: 0.75rem;
  background-color: #ed4343;
  color: #fff;
  width: 100px;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
  outline: 0;
  font-size: 1rem;
}

.class-btn:hover {
  background-color: #f52d34;
}

.class-btn:active {
  transform: translateY(5px);
}