.infoCard {
  min-height: 7rem;
  padding: 0.5rem;
  background-color: rgb(255,255,255);
  box-shadow: 1px 2px 1px rgb(200,200,200);
  border-radius: 10px;
}

.cohortDetails {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.cohortDetailsList {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}

.cohortDetailsList > li {
  margin-top: 0.5rem;
}

.cohortDetailType {
  font-weight: bold;
  margin-top: 0.5rem;
}

.class-btn{
  padding: 0.75rem;
  background-color: #303846;
  color: #fff;
  width: 230px;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
  outline: 0;
  font-size: 1rem;
}

.class-btn:hover {
  background-color: #425058;
}

.class-btn:active {
  transform: translateY(5px);
}

.cohort-btn{
  margin-left: 0;
  margin-right: 0;
}

.classesLink {
  color: white;
  text-decoration: none;
  width: 100%;
}
