.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    background-color:#303846;
    color: #fff; 
   
}

.footer-p{
    margin-top:1rem;
    margin-bottom: 1rem;
    
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}



